div {
    border:15px solid transparent;
    width:250px;
    padding:10px 20px;
}
div ul li{
    float:left;
    list-style-type:none;
}
div ul li a{
    display: block;
    width: 200px;
    height:70px;
    text-align:center;
    line-height: 70px;
    text-decoration: #062c33;
}
#round{
    -webkit-border-image:url("../images/centerborder.png") 30 30 round; /* Safari 5 and older */
    -o-border-image:url("../images/centerborder.png") 30 30 round; /* Opera */
    border-image:url("../images/centerborder.png") ;
}
#cond{
    font-size:small;
    text-decoration:none;
    text-align:center
}
.top{
    width:1400px;
    height: 70px;
    background:lightgoldenrodyellow;
    position: fixed;
    top:0;
}
*{
    margin:0;
    padding:0;
}
